<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <order_status>
            <general>
                <allowed_users>1</allowed_users>
            </general>
        </order_status>
    </default>
</config>
