<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="opentag" translate="label" sortOrder="300">
            <label>OpenTag</label>
        </tab>
        <section id="order_status" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Custom Order Status</label>
            <tab>opentag</tab>
            <resource>OpenTag_CustomOrderStatus::order_status</resource>
            <group id="general" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Options</label>
                <field id="allowed_users" translate="label" type="multiselect" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Admin Users With Permission</label>
                    <source_model>OpenTag\CustomOrderStatus\Model\System\Config\Source\UsersList</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
